.about header {
    position: relative;
    top: 70px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  .about h1 {
    margin: 0;
    font-size: 32px;
  }

  .about .container {
    max-width: 960px;
    margin: 40px auto;
    padding: 0 20px;
    position: relative;
    top: 70px;
    margin-bottom: 140px;
  }
  .container h2 {
    background-color: #333;
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
  }

  .about p {
    line-height: 1.6;
  }

  .about .section-heading {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .about .vision-mission {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .about .vision-mission div {
    flex-basis: 48%;
  }

  .about .vision-mission h2 {
    margin-top: 0;
  }

  .about .vision-mission p {
    margin-bottom: 20px;
  }

  .about .section-heading h2 {
    margin-top: 0;
  }

  .about .section-heading p {
    margin-bottom: 20px;
  }