.city-sector{
  position: relative;
  top: 150px;
  width: 90%;
  height: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

.city-grid{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 60px;
  margin-bottom: 200px;
  margin-left: 60px;
}

.city{
  position: relative;
  height: 360px;
  width: 250px;
  background-color: whitesmoke;
  margin: 20px 20px 10px 0;
  box-shadow: 5px 5px 9px rgba(0,0,0,0.8);
  overflow: hidden;
  transition: 0.3s;
}

.city .pic-container{
  height: 200px;
  width: 250px;
  overflow: hidden;
  transition: all 0.5s ease;
  background-size: cover;
}
.city .pic-container img {
  height: 200px;
  width: 250px;
}

.city:hover{
  cursor: pointer;
  transform: scale(1.03);
}

.city .city-det{
  position: absolute;
  font-size: 25px;
  background-color: #b3fdc3;
  color: #000;
  width: 100%;
  height: 100%;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease;
}
.city .city-det .title p {
  background-color: #012319;
  color: #fff;
  border-radius: 10px;
}
.city .city-det .location, .price {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: normal;
}
.location-div , .price-div {
display: flex;
}
.bx-location-plus, .bx-money {
font-size: 16px;
padding: 6px;
}
.available {
  position: relative;
  z-index: 999999;
  left: -120px;
  top: -150px;
  background-color: green;
  padding: 3px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
}
.sold {
  position: relative;
  z-index: 999999;
  left: -120px;
  top: -150px;
  background-color: red;
  padding: 3px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
}