/*Sign up form styles*/
.su-container {
  background-image: url("../images/slide/img3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100%;
  padding-top: 100px;

}

.su-container .signup {
  position: relative;
  top: -20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding-bottom: 10px;
}

.signup h1 {
  position: relative;
  top: 5px;
  font-size: 30px;
  color: black;
}
.changeform h3 {
  color: #000;
  margin-top: 20px;
  margin-bottom: 5px;
}
.changeform a {
  color: green;
  text-decoration: underline;
}
.changeform a:hover {
  color: darkgreen;
}

.signup-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 380px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

form .form-row input {
  float: left;
  width: 45%;
}

.signup-form form .input_field {
  height: 50px;
  box-sizing: border-box;
  padding: 10px 10px 0px 10px;
  border: none;
  border-bottom: 2px solid #ebebeb;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 16px;
  color: black;
}
.signup-form form input:hover {
  border-bottom-color: #dcdcdc;
}
.signup-form form input:focus {
  outline: none;
  border-bottom-color: #0061a7;
}
.submit-btn:disabled {
  background-color: none;
  margin-top: 20px;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 5px;
  width: 380px;
  opacity: 0.9;
  font-size: 15px;
}
.submit-btn:enabled {
  cursor: pointer;
  background-color: #0061a7;
  margin-top: 20px;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 5px;
  width: 380px;
  opacity: 0.9;
  font-size: 15px;
}

.submit-btn:hover {
  opacity: 1;
}

.accept {
  display: flex;
}
.accept input {
  height: 20px;
  width: 20px;
  margin-right: 20px;
}